In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import linear_model

In [18]:
df=pd.read_csv("https://raw.githubusercontent.com//codebasics//py/master//ML/2_linear_reg_multivariate//homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [25]:
#process of missing value by median
import math #for transs float value in median into integer
bedroom_median=math.floor(df.bedrooms.median())
bedroom_median

4

In [37]:
df.bedrooms=df.bedrooms.fillna(bedroom_median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [38]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [39]:
reg.predict([[3000,3,40]])

C:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [40]:
reg.predict([[2500,4,5]])

C:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [44]:
reg.predict([[4000,6,8]])

C:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([784052.30683251])

In [41]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [42]:
reg.intercept_

221323.00186540425

In [45]:
(4000*112.06244194+6.0*23388.88007794+8*-3231.71790863)+221323.00186540425

784052.3068240043

In [3]:
def GradientDescent(x,y):
    b_curr=m_curr=0
    iteration=10
    learningRate=0.07
    n=len(x)
    for i in range(iteration):
        y_pridection=m_curr*x+b_curr
        cost=(1/n)* sum ( (y_pridection-y)**2)
        bd=(2/n)*sum(y_pridection-y)
        md=(2/n)*sum((y_pridection-y)*x)
        b_curr=b_curr-learningRate*bd
        m_curr=m_curr-learningRate*md
        print("m@1:{},  b@0:{},  cost:{},  iteration:{}".format(m_curr,b_curr,cost,i))

x=df.['area','bedrooms','age']
y=df.price

SyntaxError: invalid syntax (533606986.py, line 15)